@font-face {
    font-family: 'Fira Code';
    src: url('FiraCode-Light.woff2') format('woff2'),
        url("FiraCode-Light.woff") format("woff");
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Code';
    src: url('FiraCode-Regular.woff2') format('woff2'),
        url("FiraCode-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Code';
    src: url('FiraCode-Bold.woff2') format('woff2'),
        url("FiraCode-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Code VF';
    src: url('FiraCode-VF.woff2') format('woff2-variations'),
        url('FiraCode-VF.woff') format('woff-variations');
    /* font-weight requires a range: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Fonts/Variable_Fonts_Guide#Using_a_variable_font_font-face_changes */
    font-weight: 300 700;
    font-style: normal;
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
}

tt,
code {
    font-family: "Fira Code", "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 12px;
}

pre {
    margin-top: 0;
    margin-bottom: 0;
    font-family: "Fira Code", "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 12px;
}

.text-mono {
    font-family: "Fira Code", "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
}